* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    background-color: #9bfda0;
}

table {
            border-collapse: collapse;
            width: 100%;
        }

        table, th, td {
            border: 1px solid #ddd;
        }

        th, td {
            padding: 8px;
            text-align: left;
        }

        .top-bar {
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;
        }
        
        .top-bar form {
            display: flex;
        }